extends ./base.pug

block title
    title #{title}

block style
    style
        //- include ./assets/css/profile.css 
        include ./assets/css/nav.css
        //- include ./assets/css/preview.css
        include ./assets/css/myhome.css

block script
  script
    include ./assets/javascript/profile.js
  script 
    include ./assets/javascript/myhome.js





block content

    -var  ownerimages = ownerimage

    -var allinfo = allinfo //userinformation

    .spiner
      .spinner-grow.text-primary(role="status")
          span.sr-only Loading...
      .spinner-grow.text-secondary(role="status")
          span.sr-only Loading...
      .spinner-grow.text-success(role="status")
          span.sr-only Loading...
      .spinner-grow.text-danger(role="status")
          span.sr-only Loading...
      .spinner-grow.text-warning(role="status")
          span.sr-only Loading...
      .spinner-grow.text-info(role="status")
          span.sr-only Loading...
      .spinner-grow.text-light(role="status")
          span.sr-only Loading...
      .spinner-grow.text-dark(role="status")
          span.sr-only Loading...
    .navstcky
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          a.navbar-brand(href="/")
            img.d-inline-block.align-top(src="/../ico/logo.png" alt="" width="30" height="24")
            |             THE 
            span(style="color: darkblue;") ROOMS
          button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link.active(aria-current="page" href="/therooms/services")
                  i.fas.fa-info
                  |  Services
              li.nav-item
                a.nav-link(href="#")
                  i.fa.fa-gift
                  |  Offers
              li.nav-item
                a.nav-link(href="/contactUs")
                  i.fas.fa-phone
                  |  Contact us
              li.nav-item
                a.nav-link(href="#")
                  img#img.img-fluid(src="data:" + allinfo.img.ContentType + "; base64 ," + allinfo.img.data.toString('base64'), alt="User image" )
              li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                 
                  |  #{allinfo.fname}
                ul.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                  li
                    a.dropdown-item(href="/therooms/" + "userProfile/" + id + "/?" + userProfile)
                      i.fas.fa-user
                      |  Profile
                  li
                    a.dropdown-item(href="/therooms/newusers")
                      i.fas.fa-heart
                      |  My wishlist
                  li
                    a.dropdown-item(href="#")
                      i.fas.fa-th-list
                      |  My Booking
                  
                  li
                    a.dropdown-item(href="/therooms/user" + "/logout/?" + urldataForLgout )
                      i.fas.fa-user-times
                      |  Logout
      // search bar
      // Image and text
      // Just an image
      nav.navbar.navbar-light.bg-light
        .container
          .container-fluid
            form.d-flex
              input.form-control.me-2(type="search" placeholder="Search (location)" aria-label="Search")
              button.btn.btn-outline-success(type="submit") Search

    
    .container.welcome 
      .container.ownerspic 
         img.imgowner.img-fluid(src="data:" + allinfo.img.ContentType + "; base64 ," + allinfo.img.data.toString('base64'), alt="User image" )
      .container.ownername 
        h1.display-5.ownerfname #{allinfo.fname + " " + allinfo.lname}



    
    .container
 
      table.table.table-dark
        thead
          tr
           
            th(scope='col' colspan="4") The Rooms
            //- th(scope='col') First
            //- th(scope='col') Last
            //- th(scope='col') Handle
        tbody.table-dark
          tr.table-dark
            td(scope='row') First Name
            th #{ownerinfo.fname}
            td Last Name
            th #{ownerinfo.lname}
          tr
            td(scope='row') Father`s Name
            th #{ownerinfo.fathername}
            td Email
            th#mail #{ownerinfo.email}
          tr
            td(scope='row') Mobile
            th #{ownerinfo.mobile}
            td Alternet Mobile
            th #{ownerinfo.altermobile}

          tr
            td(scope='row') Gender
            th #{ownerinfo.gender}
            td(scope='row') Room Name
            th #{ownerinfo.roomname}
          tr
            td(scope='row') State
            th #{ownerinfo.state}
            td City
            th #{ownerinfo.city}
          tr
            td(scope='row') Village/Street
            th #{ownerinfo.village}
            td Zip
            th #{ownerinfo.zip}
          tr
            td(scope='row') Address
            th(colspan="3") #{ownerinfo.address}
            //- td Zip
            //- th #{ownerinfo.zip}
          tr
            td(scope='row') Room For
            th #{ownerinfo.roomfor}
            td Room Type
            th #{ownerinfo.roomtype}
          tr
            td(scope='row') Kitchen
            th #{ownerinfo.kitchen}
            td Washroom
            th #{ownerinfo.washroom}
          tr
            td(scope='row') Person Type
            th #{ownerinfo.persontype}
            td(scope='row') Electricity Bill
            th #{ownerinfo.electricbill}
          tr
            td(scope='row') Room Facilities
            th(colspan="3") #{ownerinfo.roomfacility}
          tr
            td(scope='row') Room Id
            th #{ownerinfo.throughid}
            td(scope='row') Return Advance
            th #{ownerinfo.returndwnpayment}
          tr
            td(scope='row') Room Restrictions
            th(colspan="3") #{ownerinfo.restriction}
          tr
            td(scope='row') Room Rent
            th #{ownerinfo.roomrent}
            td(scope='row') Advance
            th #{ownerinfo.downpayment}
          tr
            td(scope='row') Rent Information
            th(colspan="3") #{ownerinfo.anyotherinforent}
          tr
            td(scope='row') Room Informations
            th(colspan="3") #{ownerinfo.anyotherinforoom}
          tr
            td(scope='row') D.O.B
            th(colspan="3") #{ownerinfo.dob}

          tr 
            td(scope="row") Date Of Registration
            th(colspan="3") #{ownerinfo.dateofrgisteration}

    

    .container 
      .ownerpic 
        h3.bg-light.nameofhim Owner Image 
        img.malikkaphoto.img-fluid(src="data:" + ownerinfo.landimg.ContentType + "; base64 ," + ownerinfo.landimg.data.toString('base64'), alt="User image" )



    
    .container 
      .ownerpic 
        h3.bg-light.nameofhim Owner`s Signature 
        img.malikkaphoto.img-fluid(src="data:" + ownerinfo.landsignature.ContentType + "; base64 ," + ownerinfo.landsignature.data.toString('base64'), alt="User image" )
            

    .container 
      .ownerpic 
        h3.bg-light.nameofhim Owner`s Document 
        img.malikkaphoto.img-fluid(src="data:" + ownerinfo.documentImg.ContentType + "; base64 ," + ownerinfo.documentImg.data.toString('base64'), alt="User image" )
    







    

        
    .container 
      .ownerpic 
        h3.bg-light.nameofhim Room`s Gallary

      .malikkaphotos
        each val ,index  in imgofRooms
      
          img.malikkaphoto.img-fluid(src="data:" + val.ContentType + "; base64 ," + val.data.toString('base64'), alt="owner Image" )


   
    hr
    .container.buttonss 
      button.btn.btn-primary Edit Informations
      button.btn.btn-danger Delete Informations
      //- button.btn-btn-primary Edit Informations
         
