extends ./base.pug

block title
    title #{title}

block style
    style
        include ./assets/css/profile.css 
        include ./assets/css/nav.css
        include ./assets/css/preview.css

block script
  script
    include ./assets/javascript/profile.js

block content

    -var  ownerimages = ownerimage

    -var allinfo = allinfo //userinformation

    .spiner
      .spinner-grow.text-primary(role="status")
          span.sr-only Loading...
      .spinner-grow.text-secondary(role="status")
          span.sr-only Loading...
      .spinner-grow.text-success(role="status")
          span.sr-only Loading...
      .spinner-grow.text-danger(role="status")
          span.sr-only Loading...
      .spinner-grow.text-warning(role="status")
          span.sr-only Loading...
      .spinner-grow.text-info(role="status")
          span.sr-only Loading...
      .spinner-grow.text-light(role="status")
          span.sr-only Loading...
      .spinner-grow.text-dark(role="status")
          span.sr-only Loading...
    .navstcky
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          a.navbar-brand(href="/")
            img.d-inline-block.align-top(src="/../ico/logo.png" alt="" width="30" height="24")
            |             THE 
            span(style="color: darkblue;") ROOMS
          button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link.active(aria-current="page" href="/therooms/services")
                  i.fas.fa-info
                  |  Services
              li.nav-item
                a.nav-link(href="#")
                  i.fa.fa-gift
                  |  Offers
              li.nav-item
                a.nav-link(href="/contactUs")
                  i.fas.fa-phone
                  |  Contact us
              li.nav-item
                a.nav-link(href="#")
                  img#img.img-fluid(src="data:" + allinfo.img.ContentType + "; base64 ," + allinfo.img.data.toString('base64'), alt="User image" )
              li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                 
                  |  #{allinfo.fname}
                ul.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                  li
                    a.dropdown-item(href="/therooms/" + "userProfile/" + id + "/?" + userProfile)
                      i.fas.fa-user
                      |  Profile
                  li
                    a.dropdown-item(href="/therooms/newusers")
                      i.fas.fa-heart
                      |  My wishlist
                  li
                    a.dropdown-item(href="#")
                      i.fas.fa-th-list
                      |  My Booking
                  
                  li
                    a.dropdown-item(href="/therooms/user" + "/logout/?" + urldataForLgout )
                      i.fas.fa-user-times
                      |  Logout
      // search bar
      // Image and text
      // Just an image
      nav.navbar.navbar-light.bg-light
        .container
          .container-fluid
            form.d-flex
              input.form-control.me-2(type="search" placeholder="Search (location)" aria-label="Search")
              button.btn.btn-outline-success(type="submit") Search


    .container
      h3.display-3 Form Preview
      hr
    .container-fluid.maindiv
      h3.container.display-5 
        em Personal Information 
      .container.maindata 
        .container.Mkrow 
          h4.bg-light First Name 
          h5 #{data.fname} 
        .container.Mkrow
          h4.bg-light First Name 
          h5 #{data.lname}

      
      .container.maindata 
        .container.Mkrow 
          h4.bg-light Father`s Name
          h5 #{data.fathername} 
        .container.Mkrow
          h4.bg-light D.O.B 
          h5 #{data.dob}



      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Gender
          h5 #{data.gender}
        .container.Mkrow
          h4.bg-light House Number/Name 
          h5 #{data.roomname}

    
      h3.container.display-5 
        em Contact Details

      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Mobile
          h5 #{data.mobile}
        .container.Mkrow
          h4.bg-light Alter Mobile
          h5 #{data.altmobile}


      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Email
          h5 #{data.email}


      h3.container.display-5 
        em Address Details

      .container.maindata 
        .container.Mkrow 
          h4.bg-light  State
          h5 #{data.state}
        .container.Mkrow
          h4.bg-light City
          h5 #{data.city}


      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Village
          h5 #{data.village}
        .container.Mkrow 
          h4.bg-light  Zip
          h5 #{data.zip}

      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Address
          h5 #{data.address}


      h3.container.display-5 
        em Room`s Details

      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Rooms`s For
          h5 #{data.roomfor}
        .container.Mkrow
          h4.bg-light Room Type
          h5 #{data.roomtype}


      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Washroom
          h5 #{data.washrooms}
        .container.Mkrow 
          h4.bg-light  Kitchen
          h5 #{data.kitchen}


      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Person Type
          h5 #{data.persontype}
        .container.Mkrow 
          h4.bg-light  Room Facilities
          h5 #{data.roomfacilty}

      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Room Restriction
          h5 #{data.roomrestri}
        .container.Mkrow 
          h4.bg-light  About Rooms
          h5 #{data.roominfo}


      
      h3.container.display-5 
        em Rent Details

      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Electric Bill
          h5 #{data.electricbill}
        .container.Mkrow
          h4.bg-light Monthly Rent
          h5 #{data.monthlyrent}


      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Down Payment
          h5 #{data.downpayment}
        .container.Mkrow
          h4.bg-light Returnable price
          h5 #{data.rtndwn}

      .container.maindata 
        .container.Mkrow 
          h4.bg-light  Any Other Info 
          h5 #{data.rentinfo}


      .container.maindata 
        .container.Mkrow 
          
    img.img-fluid(src= '/../' + ownerimage.path , alt="image")


    .container 
      button.btn.btn-warning(onclick="history.go(-1)") Edit Form
      br
      hr

    .container 
      form.formdata.form-control(action=`/therooms/roomsregistration/redirecting/${userid}/${userdata}/${userimg}/${usersign}/${userdocs}/${roomgall}` method="POST") 
        .maindivform
          input(type="checkbox" id='agree' required)
          label.agrrement(for="agree") Agree the terms and conditions 
      
        br
        .buttondata
          button.btn.btn-success(value = "submit") Final Submission 
          br  
          button.btn.btn-primary Terms & Conditions


      

        

     


      
      


    