extends ./base.pug 

block title
    title Registration : The Rooms


block style
    style
        include ./assets/css/nav.css
        include ./assets/css/room.css 

block script
    script 
        include ./assets/javascript/profile.js
        include ./assets/javascript/room.js

block content 
    h1.display-6.m-2 Home Registration

    .spiner
      .spinner-grow.text-primary(role="status")
          span.sr-only Loading...
      .spinner-grow.text-secondary(role="status")
          span.sr-only Loading...
      .spinner-grow.text-success(role="status")
          span.sr-only Loading...
      .spinner-grow.text-danger(role="status")
          span.sr-only Loading...
      .spinner-grow.text-warning(role="status")
          span.sr-only Loading...
      .spinner-grow.text-info(role="status")
          span.sr-only Loading...
      .spinner-grow.text-light(role="status")
          span.sr-only Loading...
      .spinner-grow.text-dark(role="status")
          span.sr-only Loading...
    .navstcky
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          a.navbar-brand(href="/")
            img.d-inline-block.align-top(src="/../ico/logo.png" alt="" width="30" height="24")
            |             THE 
            span(style="color: darkblue;") ROOMS
          button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link.active(aria-current="page" href="/therooms/services")
                  i.fas.fa-info
                  |  Services
              li.nav-item
                a.nav-link(href="#")
                  i.fa.fa-gift
                  |  Offers
              li.nav-item
                a.nav-link(href="/contactUs")
                  i.fas.fa-phone
                  |  Contact us
              
              li.nav-item
                a.nav-link(href="#")
                  img#img.img-fluid(src="data:" + allinfo.img.ContentType + "; base64 ," + allinfo.img.data.toString('base64'), alt="User image" )
              li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                 
                  |  #{allinfo.fname}
                ul.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                  li
                    a.dropdown-item(href="/therooms/" + "userProfile/" + allinfo._id + "/?" + "userProfile")
                      i.fas.fa-user
                      |  Profile
                  li
                    a.dropdown-item(href="/therooms/newusers")
                      i.fas.fa-heart
                      |  My wishlist
                  li
                    a.dropdown-item(href="#")
                      i.fas.fa-th-list
                      |  My Booking
                  li
                    a.dropdown-item(href="/therooms/user/feedback")
                      i.fas.fa-pen
                      |  FeedBack
                  li
                    a.dropdown-item(href="/therooms/user" + "/logout/?" + "urldataForLgout" )
                      i.fas.fa-user-times
                      |  Logout
      // search bar
      // Image and text
      // Just an image
      nav.navbar.navbar-light.bg-light
        .container
          .container-fluid
            form.d-flex
              input.form-control.me-2(type="search" placeholder="Search (location)" aria-label="Search")
              button.btn.btn-outline-success(type="submit") Search
      

    .container.trems
      h5 | Before filling the form please read the 'Terms and Conditions' well .
      button.btn.btn-warning.trem(type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop")
        | Terms And Conditions
      marquee(behavior="scroll", direction="left" scrollamount ="12")
        p.note *Please Note : Dear Sir/Mam please fill all the information correct and carefully. if any information will be wrong or fake ,our team can take legale action against you..



      #staticBackdrop.modal.fade(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")
        .modal-dialog.modal-dialog-scrollable
          .modal-content
            .modal-header
              h5#staticBackdropLabel.modal-title Terms & Conditions
              button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eaque id quia aliquam. Aliquam aliquid ipsa veniam quia fuga itaque molestias perferendis at? In ab quidem aliquid illo corrupti a!
              | Laborum quibusdam officia laudantium consequatur iusto veritatis reiciendis laboriosam porro ullam sunt odit repellat qui soluta, ab esse voetur eligendi atque aperiam totam!
              | Laboriosam, tenetur. Repellat fugiat harum accusantium corporis magni pariatur. Cum molestias quam magnam, doloribus, incidunt error consequatur vel laboriosam dolore a assumenda nulla dignissimos dicta iusto cumque deleniti, impedit praesentium.
              | Aspernatur, sint corporis labore vero non hic. Sit ex aspernatur perferendis impedit obcaecati libero eius aliquid eum quo eaque rem expedita quidem veritatis, assumenda repellat minus voluptatum explicabo incidunt officia!
              | Molestiae aspernatur asperiores veniam doloremque necessitatibus odio, incidunt, libero perferendis sunt deleniti veritatis fugiat, natus porro reprehenderit? Ea saepe doloribus amet, neque, tempora quas sint dolores architecto nulla magni similique?
              | Sequi, dolorem. Exercitationem eaque iusto obcaecati nihil aspernatur perferendis quia quae cum omnis iste autem quibusdam officiis, rem nesciunt iure numquam recusandae facere dolore voluptas porro placeat doloremque odit? Praesentium?
            .modal-footer
              button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
              button.btn.btn-primary(type="button") Understood
    

    .container.form
      form(action=`/therooms/roomsregistration/${allinfo._id}${allinfo._id}/showPreview`, method="POST"  onsubmit="return checkValidation()" enctype='multipart/form-data')
        .personalinfo.row.g-3
          h5.display-6.bg-light Personal Info  
          .col-md-6
            label(for="fname") First Name
            input.form-control(type="text" id="fname" name="fname" value=allinfo.fname required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill first name


          .col-md-6
            label(for="lname") Last Name
            input.form-control(type="text" id="lname" name="lname" value= allinfo.lname required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill the last name



          .col-md-6
            label(for="fathername") Father`s Name
            input.form-control(type="text" id="fathername" name="fathername" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please enter the father name


          .col-md-6
            label(for="gender") Gender
            select#gender.form-select(name="gender" value = allinfo.gender)
              option(value="male") Male
              option(value="female") Female
              option(value="Transgender") Transgender

          .col
            label(for="dob") D .O .B
            input#dob.form-control(type="date" max="01-01-2021" name="dob" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill the valid date of birth

          
        



        .personalinfo.row.g-3
          h5.display-6.bg-light Contact Details  
          .col-md-6
            label(for="mobile") Mobile
            input.form-control(type="number" id="mobile" name="mobile" value = allinfo.mobile required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please provide the valid mobile number


          .col-md-6
            label(for="altmobile") Alternative Mobile
            input.form-control(type="number" id="altmobile" name="altmobile" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please provide the valid mobile number



          .col
            label(for="email") Email
            input.form-control(type="email" id="email" name="email" value=allinfo.email required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill valid email







        .personalinfo.row.g-3
          h5.display-6.bg-light Address Details 
          .col-md-6
            label(for="zip") zip
            input.form-control(type="number" id="zip" name="zip" value=allinfo.zip required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please provide the valid postal code

          .col-md-6
            label(for="city") City
            input.form-control(type="text" id="city" name="city" value=allinfo.city required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill the valid city name

          .col-md-6
            label.form-label(for='exampleDataList') State
            input#exampleDataList.form-control(list='datalistOptions' placeholder='Type to search...' name="state" required)
            datalist#datalistOptions
              
              //- option(value='San Francisco')
              //- option(value='New York')
              //- option(value='Seattle')
              //- option(value='Los Angeles')
              //- option(value='Chicago')
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please provide the state

          .col-md-6
            label(for="village") Village
            input.form-control(type="text" id="village" name="village" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill village name


          .col
            label(for="address") Address
            textarea.form-control(name="address",id="address" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill valid address









        .personalinfo.row.g-3
          h5.display-6.bg-light Room`s Detail 
          .col-md-6
            label(for="roomfor") Room`s for
            select#roomfor.form-select(name="roomfor" required)
              option(value="male") Female 
              option(value="female") Male
              option(value="transgender") Transgender
              option(value="all") All


          .col-md-6
            label(for="roomtype") Room Type
            select#roomtype.form-select(name="roomtype" required)
              option(value="hostel") Hostel 
              option(value="single") Single Room
              option(value="double") Double Room
              option(value="onebhk") 1 B.H.K
              option(value="twobhk") 2 B.H.K
              option(value="threebhk") 3 B.H.K


          .col-md-6
            label(for="washrooms") Washrooms
            select#washrooms.form-select(name="washrooms" required)
              option(value="common") Common
              option(value="saprate") Saprate

          .col-md-6
            label(for="kitchen") Kitchen
            select#kitchen.form-select(name="kitchen" required)
              option(value="no") No
              option(value="yes") With Kitchen
            

          

          .col-md-6
            label(for="persontype") Person Type
            select#persontype.form-select(name="persontype" required)
              option(value="bachlor") Bachlor
              option(value="family") Family
              option(value="all") ALL

          .col-md-6
            label(for="roomfacilty") Room Facilities
            textarea#roomfacilty.form-control(name="roomfacilty" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill room facilities

          .col-md-6
            label(for="roomrestri") Room Restrictions
            textarea#roomrestri.form-control(name="roomrestri" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill room restrictions
          

          .col
            label(for="roominfo") Any Other Information About Room
            textarea#roominfo.form-control(name="roominfo" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill room info

         






        .personalinfo.row.g-3
          h5.display-6.bg-light Rent Details  

          .col-md-6
            label(for="electricbill") Electricity Bill
            select#electricbill.form-select(name="electricbill" required)
              option(value="include") Included
              option(value="exclude") Excluded
             


          .col-md-6
            label(for="monthlyrent") Monthly Rent ₹
            input.form-control(type="number" id="monthlyrent" name="monthlyrent" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please provide the monthly rent


          //- .col-md-6
          //-   label(for="fathername") Security Money ₹
          //-   input.form-control(type="number" id="fathername" name="fathername")
          //-   .valid-feedback
          //-     | Looks Good
          //-   .invalid-feedback
          //-     | please fill this blank



          .col-md-6
            label(for="downpayment") Down Payment ₹
            input.form-control(type="number" id="downpayment" name="downpayment" required) 
            .valid-feedback
              | it is returnable if not mention it
            .invalid-feedback
              | please fill the down payment


          .col-md-6
            label(for="rtndwn") Returnable Downpayment
            select#rtndwn.form-select(name="rtndwn" required)
              option(value="full") Full return
              option(value="partial") Partial deduction

          .col-md-6
            label(for="rentinfo") Any other info about rent
            textarea#rentinfo.form-control(name="rentinfo" placeholder="you can also mention here about deduction of downpayment" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please fill rent info






              

        .personalinfo.row.g-3
          h5.display-6 Image Upload 
          
          .col-md-6
            label.input-group-text(for="inputGroupFile01") Landord`s pic
            input#inputGroupFile01.form-control(type="file" name="landlord" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please upload the image


          .col-md-6
            label.input-group-text(for="inputGroupFile02") Landord`s Signature
            input#inputGroupFile02.form-control(type="file" name="sign" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please upload the signature



          .col-md-6
            label.input-group-text(for="inputGroupFile03") Document`s Image
            input#inputGroupFile03.form-control(type="file" name="document" required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please upload the image


          .col-md-6
            label.input-group-text(for="inputGroupFile04") Room`s image for gallary
            input#inputGroupFile04.form-control(type="file" name="roomgallary" multiple required)
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please upload the images



        .personalinfo.row.g-3
          h5.display-6.bg-light Agreement 
          
          .col
            h5.display-6 1 : I have read all the 'Tearms and Conditions' .
            h5.display-6.bg-light 2 : All the information is given by me is correct .
            h5.display-6 3 : All the documents uploaded by me is correct .
            

          .form-check
            input#invalidCheck.form-check-input(type="checkbox" value="yes" required)
            label.form-check-label(for="invalidCheck")
              | Agree to terms and conditions
            .valid-feedback
              | Looks Good
            .invalid-feedback
              | please check the terms and conditions

          button.btn.btn-success(value="Submit") Register
      
     
